@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    height: calc(100vh - 39px);
    position: relative;
}

.btn{
    font-size: 16px;
    padding: 12px 10px;
    position: absolute;
    right: 32px;
    top: 8px;
    border-radius: 4px;
    outline: none;
    border:#fff;
    -webkit-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.75);
    
}